
*{
    max-width: 100%;
}
body {
  font-family:'Times New Roman', Times, serif;
  margin: 20px;
  color: #000;
}

h1 {
  text-align: center;
}

nav {
  text-align: center;
  margin-bottom: 10px;
}

nav a {
  margin: 0 10px;
  text-decoration: underline;
  color: #1a0dab;
}

section {
  margin-top: 30px;
}

hr {
  margin: 10px 0;
}

.features {
display: flex;
gap:500px;
}
.features-text {
  width: 50%;
}
.topics {
  width: 95%;
}

.table-box {
  width: 55%;
}

li{
    line-height: 2;
}
figure img {
  width: 350px;
  border: 1px solid #ccc;
}
.img-coffee{
    text-align: right;

}
figcaption {
  text-align: left;
  font-style: italic ,bold;
  margin-top: 5px;
}
.resource{
    display:flex;
    gap:450px;
}
iframe {
  width: 50%;
  height: 320px;
  border: none;
}

.center-text {
  text-align: left;
  font-style: italic;
}
table {
  border-collapse: collapse;
  width: 500px;
}

.table-title td {
  background-color: #e5e5e5;
  font-weight: bold;
  padding: 8px;
  border: 1px solid #999;
  text-align: left;
}

th {
  background-color: #f0f0f0;
  border: 1px solid #999;
  padding: 8px;
  text-align: left;
}

td {
  border: 1px solid #999;
  padding: 8px;
}

.alt-row {
  background-color: #e5e5e5;
}

button{
    width: 65px;
    height: 25px;
    background-color: rgb(220, 219, 219);
}

footer {
  text-align: center;
  margin-top: 40px;
}
