* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial
}

body {
    line-height: 1.6
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    position: absolute;
    width: 100%
}

.navbar.dark {
    position: relative;
    background: #222
}

.logo,
.nav-links a {
    color: #fff
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    position: relative
}

.nav-links a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #fff;
    left: 0;
    bottom: -5px;
    transition: .3s
}

.nav-links a:hover::after {
    width: 100%
}

/* Hero */
.hero {
    height: 100vh;
    background: url("images/indexpage.jpg") center/cover;
    color: #fff;
    display: flex;
    flex-direction: column
}

.hero-content {
    margin: auto;
    text-align: center;
    animation: fade 1s
}

/* Buttons */
.btn,
button {
    background: crimson;
    color: #fff;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: .3s
}

.btn:hover,
button:hover {
    background: #000
}

/* Sections */
.features,
.grid {
    display: flex;
    gap: 30px;
    padding: 50px
}

.card,
.box {
    flex: 1;
    background: #f4f4f4;
    padding: 25px;
    border-radius: 10px;
    transition: .4s;
}

.card:hover,
.box:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
    border: rgb(86, 15, 15) solid 2px;

}

/* Banners */
.page-banner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff
}

.home-banner {
    background: url("images/homeimg.jpg") center/cover
}

.services-banner {
    background: url("images/serviceimg.jpg") center/cover
}

.contact-banner {
    background: url("images/contactimg.jpg") center/cover
}

/* Forms */
input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0
}

/* Footer */
footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 15px
}

/* Back Button */
.back-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: crimson;
    color: #fff;
    padding: 12px 18px;
    border-radius: 30px;
    text-decoration: none;
    z-index: 1000
}

/* Responsive */
@media(max-width:768px) {
    .navbar {
        flex-direction: column
    }

    .features,
    .grid {
        flex-direction: column;
        padding: 20px
    }
}

/* Animation */
@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(30px)
    }

    to {
        opacity: 1
    }
}