/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  min-height: 100vh;
  background: url("https://oppty.in/wp-content/uploads/2023/09/home-3-slider-bg.jpg")
    center/cover no-repeat fixed;
  position: relative;
  color: #fff;
}

/* DARK OVERLAY */
.bg-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(20%, 40%, 246, 0.85),
    rgba(15, 23, 42, 0.85)
  );
  z-index: 0;
}

/* ================= HEADER ================= */
.dash-header {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  background-color: #f9f4f4;
}

.header-left {
  flex: 1;
}

.header-logo {
  height: 45px;
}

.header-center {
  flex: 2;
  text-align: center;
 
}
.gradient-text {
  background: linear-gradient(to right, #4f46e5, #06b6d4);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-center h1 {
  font-size: 38px;
  font-weight: 800;
  display: block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.header-center h1:hover{
  background: linear-gradient(to right, #2b7420, #afecf7);
  background-clip: text;
  -webkit-text-fill-color: transparent;

}
/* ================= DASHBOARD ================= */
.dashboard {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 60px 20px;
}

/* CARD */
.dash-card {
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(15px);
  border-radius: 18px;
  width: 320px;
  padding: 40px 30px;
  text-align: center;
  box-shadow: 0 25px 50px rgba(0,0,0,0.4);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.dash-card:hover {
  transform: translateY(-12px) scale(1.03);
  box-shadow: 0 35px 70px rgba(0,0,0,0.6);
}

.icon {
  font-size: 48px;
  margin-bottom: 15px;
}

.icon.admin {
  color: #38bdf8;
}

.icon.user {
  color: #22c55e;
}

    
.dash-card h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.dash-card p {
  font-size: 14px;
  line-height: 1.7;
  opacity: 0.9;
  margin-bottom: 25px;
}

/* BUTTONS */
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.admin-btn {
  background: linear-gradient(90deg, #38bdf8, #0ea5e9);
  color: #000;
}

.user-btn {
  background: linear-gradient(90deg, #22c55e, #16a34a);
  color: #000;
}

.btn:hover {
  transform: scale(1.05);
}

/* ================= FOOTER ================= */
.dash-footer {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 20px;
  font-size: 13px;
  opacity: 0.8;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
    align-items: center;
  }

  .brand h1 {
    font-size: 26px;
  }
}
